.banner2-background {
    background-color: #f5f7fa;
    padding: 50px;
}

.banner2 {
    margin: auto;
    max-width: 1200px;
    padding-left: 48px;
    padding-right: 48px;
}

.banner2 p {
    font-weight: 400;
    font-size: 1.42857143rem;
}

.paypalforbusiness-btn {
    margin: 0px 20px;
    padding: 0.6rem 1.0rem;
    width: 150px;
    color: white;
    background-color: #0070ba;
}