.banner1-background {
    background-color: #121660;
    margin: 0;
    height: 400px;
}

.banner1 {
    padding-left: 30px;
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.img-container {
    display: flex;
    justify-content: right;
}

.banner1 .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
}

.banner1 h2 {
    color: white;
    font-size: 2.5rem;
    padding: 0px;
    margin: 0px;
}

.banner1 p {
    color: white;
    font-size: 1.2rem;
}

.banner1 button {
    padding: 1rem 5rem;
    border-radius: 1.5rem;
    margin: 0px;
    background-color: #FFC439;
    border: 0px;
    font-weight: 700;
}